---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
	<div class="max-w-3xl mx-auto">
		<Welcome />
		<section>
			<!-- Display various projects -->
			<Projects 
			title="Growers AI"
			description="This is a webpage about technology in the farm, throught the use of AI"
			source="Pinterest"
			path="/agriAI/"
			/>
		</section>
	</div>
</Layout>
