---

---

<div>
	<section>
		<article>
			<div>
				<img src="" alt="the builder avatar">
				<p class="text-sm">Builder</p>
			</div>
			<p>
				Hey, my name is Cousnay. I am adeveloper learning through projects, and sharing with ohters.
			</p>
		</article>
	</section>
	
	<section>
		<div>
			<h1>Items Collection</h1>
			<p>This below is a collection of various projects, I have been trying out and test my skills.</p>
		</div>
	</section>
</div>