---
import Button from "./widgets/Button.astro";
---

<header>
    <nav>
        <section>
            <ul>
                <li>
                    <a href="#">Careers</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <!-- To come back on this one for selection purpose -->
                </li>
                <li>
                    <form>
                        <input type="search" name="search-page" id="search-page">
                    </form>
                </li>
            </ul>
        </section>
        <!-- Remember to add a divider when we increase the browser window size -->
         <section>
            <a href="#">
                <!-- Page logo icon -->
            </a>
            <ul>
                <li>
                    <!-- Dropdown Menu -->
                </li>
                <li>
                    <a href="#">Cases</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <Button 
            title="Request Demo"
            color="orange"/>
         </section>
    </nav>
</header>