---
import Button from "./widgets/Button.astro";
---

<section>
    <div>
        <article>
            <h1>Empowering Growers Through AI</h1>
            <p>
                Intelligent software to maximize profit and scale without boundaries
            </p>
            <Button
            title="Discover our solutions"
            color="white" />
        </article>
    </div>
</section>