---
import Button from "./widgets/Button.astro";
import SiteMap from "../agriAI/SiteMap.astro";
---

<section>
    <div>
        <div>
            <section>
                <!-- icon -->
            </section>
            <section>
                <SiteMap />
            </section>
            <section>
                <p>Let's Connect</p>
                <p>Feel free to reach out!</p>
                <div>
                    <Button
                    title="Contact Us"
                    />
                    <div>
                        <!-- linkdin -->
                         <!-- Youtube -->
                    </div>
                </div>
            </section>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Privacy Statement</a>
                </li>
                <li>
                    <a href="#">Cookie Policy</a>
                </li>
                <li>
                    <a href="#">Cookie Settings</a>
                </li>
            </ul>
            <ul>
                <li>Source 2024</li>
                <li>All rights reserved</li>
            </ul>
        </div>
    </div>
</section>